APP_NAME=SAVERPOS
APP_ENV=staging
APP_KEY=
APP_DEBUG=false
APP_URL=https://pos.kkcctv.com.my
APP_TIMEZONE=Asia/Kuching

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=CPANEL_DATABASE_NAME
DB_USERNAME=CPANEL_DATABASE_USER
DB_PASSWORD=ENTER_IN_CPANEL_ONLY

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync
LOG_CHANNEL=daily
ALLOW_REGISTRATION=false

RECOMMERCE_ENABLED=true
RECOMMERCE_WRITES_ENABLED=true
RECOMMERCE_COHORT_BUSINESS_ID=1
RECOMMERCE_COHORT_LOCATION_ID=1
RECOMMERCE_COHORT_LOCATION_IDS=1,2
RECOMMERCE_COHORT_VARIATION_IDS=1
